* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.wrap {
  display: table;
  width: 100%;
  height: 100%;
  >div {
    display: table-row;
    >div {
      display: table-cell;
      vertical-align: top;
      &.frame {
      }
      &#header {
        width: 50%;
        text-align: right;
      }
      &#main {
        text-align: center;
        vertical-align: middle;
        canvas {
          display: inline-block!important;
          // position: absolute;
          // width:  100%!important;
          // height: 100%!important;
          cursor: pointer;
        }
      }
      &#footer {
        width: 50%;
        text-align: left;
      }
    }
  }
  &.portrait {
    display: block;
    >div {
      display: table;
      width: 100%;
      height: 100%;
      >div {
        display: table-row;
        &#header {
          width: 100%;
          text-align: center;
          >div {
            vertical-align: bottom;
          }
        }
        &#main {
          height: 100%;
          >div {
            vertical-align: middle;
          }
        }
        &#footer {
          width: 100%;
          text-align: center;
          >div {
            vertical-align: top;
          }
        }
        >div {
          display: table-cell;
        }
      }
    }
  }
}

