// https://www.google.com/fonts#UsePlace:use/Collection:Press+Start+2P
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

// http://www.iamcal.com/misc/fonts/

* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font: 12px arial, sans-serif;
  text-align: center;
}

body.hide-overflow {
  overflow: hidden;
}

.wrap {
  display: table;
  width: 100%;
  height: 100%;
  >div {
    display: table-row;
    >div {
      display: table-cell;
      vertical-align: top;
      &.frame {
        >div {
          display: inline-block; // can range-right
          padding-top: 10px;
          img {
            width: 100%;
            // max-width: 81px;
            height: auto;
          }
          a {
            transition: opacity .5s;
            cursor: pointer;
            &:hover {
              opacity: .7;
            }
          }
        }
      }
      &#header {
        width: 50%;
        text-align: right;
      }
      &#main {
        text-align: center;
        canvas {
          display: inline-block!important;
          cursor: pointer;
        }
      }
      &#footer {
        width: 50%;
        text-align: left;
      }
    }
  }
  &.portrait {
    display: block;
    >div {
      display: table;
      width: 100%;
      height: 100%;
      >div {
        display: table-row;
        &.frame {
          >div {
            padding-top: 0;
            text-align: center;
            vertical-align: bottom;
            img {
              width: 54px;
            }
          }
        }
        &#header {
          >div {
            vertical-align: bottom;
          }
        }
        &#main {
          height: 100%;
          >div {
            vertical-align: middle;
          }
        }
        &#footer {
          >div {
            vertical-align: top;
          }
        }
        >div {
          display: table-cell;
        }
      }
    }
  }
}

#score-label {
  position: absolute;
}

#score {
  position: absolute;
  padding: 14px 0 0 3px;
}

#textlink {
  position: absolute;
  display: none;
  top: 100px;
  width: 100%;
  a {
    display: block;
    height: 20px;
  }
}

#tou {
  position: absolute;
  left: 10px;
  bottom: 10px;
  a {
    color: #808080!important;
    transition: color .4s;
    &:hover {
      color: #d60c8c!important;
    }
  }
}

.bodycopy {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

#play-cell-survivor {
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #808080;
  font-size: 18px;
  transition: background-color .4s;
  &:hover {
    background-color: #d60c8c;
  }
  a {
    color: #fff!important;
    text-decoration: none;
  }
}

#popup-wrap {
  position: absolute;
  width: 100%;
  text-align: center;
  #popup-inner {
    display: inline-block;
    width: 500px;
    padding-bottom: 20px;
    outline: 1px solid #000;
    background-color: rgba(0,0,0,.8);
    #popup-dismiss {
      text-align: right;
      span {
        display: inline-block;
        padding: 10px 10px 0 10px;
        font-size: 150%;
        cursor: pointer;
        transition: color .2s;
        &:hover {
          color: #ed1c24;
        }
      }
    }
    #popup-text {
      margin-top: -2%;
      padding: 0 20px;
    }
  }
}

.bold-bitmap {
  font: 32px 'Press Start 2P', cursive;
  line-height: 1.4;
  text-shadow: #000 0 4px; // @todo cross-browser
}
.bold-bitmap-small {
  font: 32px 'Press Start 2P', cursive;
  line-height: 0.7;
  text-shadow: #000 0 2px; // @todo cross-browser
}

.green {
  color: #8cc63f;
  text-shadow: #008053 0 4px; // @todo cross-browser
}
.aqua {
  color: #009ac8;
  text-shadow: #008053 0 4px; // @todo cross-browser
}
.pink {
  color: #f8c1d9;
  text-shadow: #d60c8c 0 4px; // @todo cross-browser
}
.blue {
  color: #8ed8f8;
  text-shadow: #009ac8 0 4px; // @todo cross-browser
}
