// https://www.google.com/fonts#UsePlace:use/Collection:Press+Start+2P
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

// http://www.iamcal.com/misc/fonts/

* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font: 12px arial, sans-serif;
  text-align: center;
}

body.hide-overflow {
  overflow: hidden;
}
.wrap.loaded {
  >div {
    >div {
      &.frame {
        >div {
          opacity: 1; // fade-in when preloading is complete
        }
      }
    }
  }
}

.wrap {
  display: table;
  width: 100%;
  height: 100%;
  >div {
    display: table-row;
    >div {
      display: table-cell;
      vertical-align: top;
      &.frame {
        >div {
          display: inline-block; // can range-right
          padding-top: 10px;
          opacity: 0; // fade-in when preloading is complete
          transition: opacity 1s;
          img {
            width: 100%;
            // max-width: 81px;
            height: auto;
          }
          a {
            transition: opacity .5s;
            cursor: pointer;
            &:hover {
              opacity: .7;
            }
          }
          #fb-iframe {
            position: absolute;
            width: 50px; // modified by `onResize()`
            height: 50px;
            border-width: 0;
            outline: 1px solid red;
            transform: scale(4, 4); // `onResize()` will shrink by a quarter @todo cross browser
            transform-origin: 0 0 0; // @todo cross browser
            opacity: 0;
          }
        }
      }
      &#header {
        width: 50%;
        text-align: right;
      }
      &#main {
        text-align: center;
        canvas {
          display: inline-block!important;
          cursor: pointer;
        }
      }
      &#footer {
        width: 50%;
        text-align: left;
      }
    }
  }
  &.portrait {
    display: block;
    >div {
      display: table;
      width: 100%;
      height: 100%;
      >div {
        display: table-row;
        &.frame {
          >div {
            padding-top: 0;
            text-align: center;
            vertical-align: bottom;
            #header-gap {
              img {
                width: 1px!important;
              }
            }
            img {
              width: 54px;
            }
          }
        }
        &#header {
          >div {
            vertical-align: bottom;
          }
        }
        &#main {
          height: 100%;
          >div {
            vertical-align: middle;
          }
        }
        &#footer {
          >div {
            vertical-align: top;
          }
        }
        >div {
          display: table-cell;
        }
      }
    }
  }
}

#score {
  position: absolute;
  padding: 50px 0 0 8px;
}
@media (max-width: 600px) {
  #score {
    padding: 30px 0 0 3px;
  }
}

#textlink {
  position: absolute;
  display: none;
  top: 100px;
  width: 100%;
  a {
    display: block;
    height: 20px;
  }
}


.bodycopy {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

#play-cell-survivor, button {
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-width: 0;
  border-radius: 4px;
  background-color: #008053;
  transition: background-color .4s;
  font: 16px 'Press Start 2P', cursive;
  line-height: 1.5;
  text-shadow: #000 0 2px; // @todo cross-browser
  color: #fff!important;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #009ac8;
  }
}

#popup-wrap {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  font-size: 200%;
  #popup-inner {
    display: inline-block;
    width: 500px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,.8);
    #popup-dismiss {
      text-align: right;
      span {
        display: inline-block;
        padding: 10px 10px 0 10px;
        font-size: 150%;
        cursor: pointer;
        transition: color .2s;
        &:hover {
          color: #ed1c24;
        }
      }
    }
    #popup-text {
      margin-top: -2%;
      padding: 0 20px;
      p, h6 {
        font-family: arial, sans-serif;
        a {
          color: #fff;
          text-decoration: underline;
        }
      }
      h6 {
        margin: 1em 0;
        font-weight: normal;
      }
      a {
        transition: opacity .5s;
        &:hover {
          opacity: .7;
        }
      }
      .down-button {
        height: 64px;
        background-repeat: no-repeat;
        background-position: center 0;
        margin-bottom: 0;
        padding-top: .8em;
        cursor: pointer;
        transition: opacity .5s;
        &:hover {
          opacity: .7;
        }
      }
    }
    #popup-note {
      margin-top: -1em;
      padding: 2% 20px 0 20px;
      color: #808080;
    }
  }
}

#high-score-form {
  z-index: 9999;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,.9);
  >div {
    display: inline-block;
    max-width: 800px;
    margin-top: 100px;
  }
  .error {
    background-color: #f8c1d9;
    font: 12px 'Press Start 2P', cursive;
    line-height: 2;
    color: #d60c8c;
  }
  .success {
    background-color: #8cc63f;
    font: 12px 'Press Start 2P', cursive;
    line-height: 2;
    color: #008053;
  }
  input {
    margin-top: 1em;
    width: 3em;
    padding: 3px 10px 2px 10px;
    border: 2px solid #fff;
    outline-width: 0;
    background: transparent;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  button {
    display: block;
    margin: 10px auto;

  }
}


#high-scores {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #fff;
  height: 600px;
}
@media (max-width: 600px) {
  #high-scores {
    height: 350px;
  }
  #high-scores-inner {
    .bold-bitmap {
      font-size: 18px;
    }
  }
}

.bold-bitmap, h1 {
  font: 32px 'Press Start 2P', cursive;
  line-height: 1.4;
  text-shadow: #000 0 4px; // @todo cross-browser
}
.bold-bitmap-small {
  font: 32px 'Press Start 2P', cursive;
  line-height: 0.7;
  text-shadow: #000 0 2px; // @todo cross-browser
}
h2 {
  font: 24px 'Press Start 2P', cursive;
  text-shadow: #000 0 2px; // @todo cross-browser
}
h4 {
  font: 18px/24px 'Press Start 2P', cursive;
  text-shadow: #000 0 2px; // @todo cross-browser
}

.green {
  color: #8cc63f;
  text-shadow: #008053 0 4px; // @todo cross-browser
}
.aqua {
  color: #009ac8;
  text-shadow: #008053 0 4px; // @todo cross-browser
}
.pink {
  color: #f8c1d9;
  text-shadow: #d60c8c 0 4px; // @todo cross-browser
}
.blue {
  color: #8ed8f8;
  text-shadow: #009ac8 0 4px; // @todo cross-browser
}

#google_translate_element {
  position: absolute;
  top: 0;
  left: 0;
}

